<div  class="container">
  <h2
    
    class="text-2xl font-medium text-gray-800 uppercase mb-6"
  >
  CONTACT US
  </h2>
  <div  class="flex justify-around">
    <div class="imgrs">
        <img src="../../assets/img/map.png" alt="" srcset="">
    </div>
    <div
      
      class="md:w-1/2 w-full flex flex-col justify-center"
    >
      <h3  class="text-4xl font-medium uppercase mb-6">
        Get In Touch With Us
      </h3>
      <p  class="text-gray-500">
        Quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut
      </p>
      <form  class="py-6" method="post">
        <input
          
          required=""
          type="text"
          placeholder="Enter your name"
          class="mt-1 block w-full px-3 py-2 bg-white border-0 text-base -sm placeholder-slate-400 focus:outline-none focus:border-b-2 focus:border-black focus:ring-0 focus:placeholder:text-black invalid:border-red-500 invalid:text-red-600 focus:invalid:border-red-500 focus:invalid:ring-red-500"
        /><input
          required=""
          type="text"
          placeholder="Subject"
          class="mt-1 block w-full px-3 py-2 bg-white border-0 text-base -sm placeholder-slate-400 focus:outline-none focus:border-b-2 focus:border-black focus:ring-0 focus:placeholder:text-black invalid:border-red-500 invalid:text-red-600 focus:invalid:border-red-500 focus:invalid:ring-red-500"
        /><input
          required=""
          type="email"
          placeholder="Your Email"
          class="mt-1 block w-full px-3 py-2 bg-white border-0 text-base -sm placeholder-slate-400 focus:outline-none focus:border-b-2 focus:border-black focus:ring-0 focus:placeholder:text-black invalid:border-red-500 invalid:text-red-600 focus:invalid:border-red-500 focus:invalid:ring-red-500"
        /><textarea
          required=""
          placeholder="Your message here"
          class="mt-1 block w-full px-3 py-2 bg-white border-0 text-base -sm placeholder-slate-400 focus:outline-none focus:border-b-2 focus:border-black focus:ring-0 focus:placeholder:text-black invalid:border-red-500 invalid:text-red-600 focus:invalid:border-red-500 focus:invalid:ring-red-500"
        ></textarea>
        <div  class="flex items-end">
          <button
            class="btn-primary px-10 bg-primary-400 disabled:bg-gray-500"
            type="submit"
          >
            <span >SEND TO US</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
