<div class="container pb-16">
  <h2 class="text-2xl font-medium text-gray-800 uppercase mb-6">
    PRODUCTS
  </h2>
  <div class="grid grid-cols-1 lg:grid-cols-4 md:grid-cols-2 gap-6">
    <a
    class="bg-white border overflow-hidden p-6 border-primary -xl -all duration-300"
    >
    <div class="sale-div">
        <h4 class="sale">
            SALE
        </h4>
        </div>
    
    <div class="relative">
      <img
         src="../../assets/img/nav-drive2-fleet.png"
        alt="Eagle 4 sates 28000 SR"
        class="w-full"
        loading="lazy"
      />
    </div>
    <div class="pt-4 pb-3">
      <h4 class="uppercase font-medium text-xl text-black truncate">
        Eagle 4 sates 28000 SR
      </h4>
      <p class="text-base text-gray-500 truncate">
        Eagle 4 sates 4 Seaters, System - 48V, Motor –4 KW, Trojan Batteries
      </p>
    </div>
    <div class="flex items-center justify-between mb-1 space-x-2">
      <div class="flex-col"><p class="text-primary-400"> Price</p>
          <p class="text-primary-400"> 150,000$</p>
      </div>
      <a
       
        class="block py-2 px-10 text-center text-white bg-primary-400 "
      >
        View
      </a>
    </div></a
  >
  <a
     
      class="bg-white border overflow-hidden p-6 "
      ><div class="relative">

        <div class="sale-div">
            <h4 class="sale">
                SALE
            </h4>
            </div>

        <img
           src="../../assets/img/nav-drive2-fleet.png"
          alt="Eagle 4 sates 28000 SR"
          class="w-full "
          loading="lazy"
        />
      </div>
      <div class="pt-4 pb-3">
        <h4 class="uppercase font-medium text-xl text-black truncate">
          Eagle 4 sates 28000 SR
        </h4>
        <p class="text-base text-gray-500 truncate">
          Eagle 4 sates 4 Seaters, System - 48V, Motor –4 KW, Trojan Batteries
        </p>
      </div>
      <div class="flex items-center justify-between mb-1 space-x-2">
        <div class="flex-col"><p class="text-primary-400"> Price</p>
            <p class="text-primary-400"> 150,000$</p>
        </div>
        <a
         
          class="block py-2 px-10 text-center text-white bg-primary-400 "
        >
          View
        </a>
      </div></a
    >
    <a
     
      class="bg-white border overflow-hidden p-6 "
      ><div class="relative">

        <div class="sale-div">
            <h4 class="sale">
                SALE
            </h4>
            </div>
        <img
           src="../../assets/img/nav-drive2-fleet.png"
          alt="Eagle 4 sates 28000 SR"
          class="w-full "
          loading="lazy"
        />
      </div>
      <div class="pt-4 pb-3">
        <h4 class="uppercase font-medium text-xl text-black truncate">
          Eagle 4 sates 28000 SR
        </h4>
        <p class="text-base text-gray-500 truncate">
          Eagle 4 sates 4 Seaters, System - 48V, Motor –4 KW, Trojan Batteries
        </p>
      </div>
      <div class="flex items-center justify-between mb-1 space-x-2">
        <div class="flex-col"><p class="text-primary-400"> Price</p>
            <p class="text-primary-400"> 150,000$</p>
        </div>
        <a
         
          class="block py-2 px-10 text-center text-white bg-primary-400 "
        >
          View
        </a>
      </div></a
    >
    <a
     
      class="bg-white border overflow-hidden p-6 "
      ><div class="relative">

        <div class="sale-div">
            <h4 class="sale">
                SALE
            </h4>
            </div>
        <img
           src="../../assets/img/nav-drive2-fleet.png"
          alt="Eagle 4 sates 28000 SR"
          class="w-full "
          loading="lazy"
        />
      </div>
      <div class="pt-4 pb-3">
        <h4 class="uppercase font-medium text-xl text-black truncate">
          Eagle 4 sates 28000 SR
        </h4>
        <p class="text-base text-gray-500 truncate">
          Eagle 4 sates 4 Seaters, System - 48V, Motor –4 KW, Trojan Batteries
        </p>
      </div>
      <div class="flex items-center justify-between mb-1 space-x-2">
        <div class="flex-col"><p class="text-primary-400"> Price</p>
            <p class="text-primary-400"> 150,000$</p>
        </div>
        <a
         
          class="block py-2 px-10 text-center text-white bg-primary-400 "
        >
          View
        </a>
      </div></a
    >
    <a
     
      class="bg-white border overflow-hidden p-6 "
      ><div class="relative">

        <div class="sale-div">
            <h4 class="sale">
                SALE
            </h4>
            </div>
        <img
           src="../../assets/img/nav-drive2-fleet.png"
          alt="Eagle 4 sates 28000 SR"
          class="w-full "
          loading="lazy"
        />
      </div>
      <div class="pt-4 pb-3">
        <h4 class="uppercase font-medium text-xl text-black truncate">
          Eagle 4 sates 28000 SR
        </h4>
        <p class="text-base text-gray-500 truncate">
          Eagle 4 sates 4 Seaters, System - 48V, Motor –4 KW, Trojan Batteries
        </p>
      </div>
      <div class="flex items-center justify-between mb-1 space-x-2">
        <div class="flex-col"><p class="text-primary-400"> Price</p>
            <p class="text-primary-400"> 150,000$</p>
        </div>
        <a
         
          class="block py-2 px-10 text-center text-white bg-primary-400 "
        >
          View
        </a>
      </div></a
    >
    <a
     
      class="bg-white border overflow-hidden p-6 "
      ><div class="relative">

        <div class="sale-div">
            <h4 class="sale">
                SALE
            </h4>
            </div>

        <img
           src="../../assets/img/nav-drive2-fleet.png"
          alt="Eagle 4 sates 28000 SR"
          class="w-full "
          loading="lazy"
        />
      </div>
      <div class="pt-4 pb-3">
        <h4 class="uppercase font-medium text-xl text-black truncate">
          Eagle 4 sates 28000 SR
        </h4>
        <p class="text-base text-gray-500 truncate">
          Eagle 4 sates 4 Seaters, System - 48V, Motor –4 KW, Trojan Batteries
        </p>
      </div>
      <div class="flex items-center justify-between mb-1 space-x-2">
        <div class="flex-col"><p class="text-primary-400"> Price</p>
            <p class="text-primary-400"> 150,000$</p>
        </div>
        <a
         
          class="block py-2 px-10 text-center text-white bg-primary-400 "
        >
          View
        </a>
      </div></a
    >
    <a
     
      class="bg-white border overflow-hidden p-6 "
      ><div class="relative">
        <div class="sale-div">
            <h4 class="sale">
                SALE
            </h4>
            </div>

        <img
           src="../../assets/img/nav-drive2-fleet.png"
          alt="Eagle 4 sates 28000 SR"
          class="w-full "
          loading="lazy"
        />
      </div>
      <div class="pt-4 pb-3">
        <h4 class="uppercase font-medium text-xl text-black truncate">
          Eagle 4 sates 28000 SR
        </h4>
        <p class="text-base text-gray-500 truncate">
          Eagle 4 sates 4 Seaters, System - 48V, Motor –4 KW, Trojan Batteries
        </p>
      </div>
      <div class="flex items-center justify-between mb-1 space-x-2">
        <div class="flex-col"><p class="text-primary-400"> Price</p>
            <p class="text-primary-400"> 150,000$</p>
        </div>
        <a
         
          class="block py-2 px-10 text-center text-white bg-primary-400 "
        >
          View
        </a>
      </div></a
    >
    <a
     
      class="bg-white border overflow-hidden p-6 "
      ><div class="relative">
      
        <div class="sale-div">
            <h4 class="sale">
                SALE
            </h4>
            </div>

        <img
          src="../../assets/img/nav-drive2-fleet.png"
          alt="Eagle 4 sates 28000 SR"
          class="w-full "
          loading="lazy"
        />
      </div>
      <div class="pt-4 pb-3">
        <h4 class="uppercase font-medium text-xl text-black truncate">
          Eagle 4 sates 28000 SR
        </h4>
        <p class="text-base text-gray-500 truncate">
          Eagle 4 sates 4 Seaters, System - 48V, Motor –4 KW, Trojan Batteries
        </p>
      </div>
      <div class="flex items-center justify-between mb-1 space-x-2">
        <div class="flex-col"><p class="text-primary-400"> Price</p>
            <p class="text-primary-400"> 150,000$</p>
        </div>
        <a
         
          class="block py-2 px-10 text-center text-white bg-primary-400 "
        >
          View
        </a>
      </div></a
    >
  </div>
</div>
